<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="from" value="leoariaspaz@gmail.com"/>
    <add key="to" value="leoariaspaz@gmail.com"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="user" value="leoariaspaz@gmail.com"/>
    <add key="password" value="mqxtcunruclxeszu"/>
  </appSettings>
</configuration>