<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="from" value=""/>
    <add key="to" value=""/>
    <add key="host" value=""/>
    <add key="user" value=""/>
    <add key="password" value=""/>
  </appSettings>
</configuration>