<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SMPSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49963/Web_Services/SMP.asmx"
                binding="basicHttpBinding" bindingConfiguration="SMPSoap"
                contract="ConsultasWeb.SMPSoap" name="SMPSoap" />
        </client>
    </system.serviceModel>
</configuration>