
@{
    ViewBag.Title = "Estado de cuenta";
}

@{ Html.RenderAction("MostrarCursosAlumno"); }

<div id="datos"></div>
     
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.detail').click(function (e) {
                e.preventDefault();
                $('#datos').load($(this).attr('href'));
            })
        });
    </script>
}
