@model IEnumerable<SelectListItem>

<table>
    <tr>
        <td>
            <label>Carrera: </label>
        </td>
        <td>
            @Html.DropDownList("carreras", Model, "(Seleccione)", new { @id = "carreras" })
        </td>
    </tr>
    <tr>
        <td>
            <label>Curso: </label>
        </td>
        <td id="cursos">
            @Html.DropDownList("cursos", new List<SelectListItem>(), "(Seleccione)", new { @id = "ddlcursos" })
        </td>
    </tr>
</table>  
