@{ 
    ViewBag.Title = "Ups! Se produjo un error";
}
<div class="row h-100 min-vh-100">
    <div class="col-sm text-center">
        <h1>Ups!</h1>
        <span>
            <img alt="" src="~/Content/disappointed.jpg" height="128" />
        </span>
        <h4>No se pudo realizar la acción que solicitaste.</h4>
    </div>
</div>
