USE [SMPorres_Dev]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 18/3/2019 18:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Apellido] [varchar](255) NOT NULL,
	[IdTipoDocumento] [int] NOT NULL,
	[NroDocumento] [decimal](18, 0) NOT NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[EMail] [varchar](255) NOT NULL,
	[Direccion] [varchar](255) NOT NULL,
	[IdDomicilio] [int] NULL,
	[Estado] [tinyint] NOT NULL,
	[Sexo] [char](1) NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 18/3/2019 18:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pagos](
	[Id] [int] NOT NULL,
	[IdPlanPago] [int] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[NroCuota] [smallint] NOT NULL,
	[ImportePagado] [numeric](18, 2) NULL,
	[ImporteCuota] [numeric](18, 2) NOT NULL,
	[PorcDescPagoTermino] [float] NULL,
	[ImportePagoTermino] [numeric](18, 2) NULL,
	[PorcBeca] [float] NULL,
	[IdBecaAlumno] [int] NULL,
	[ImporteRecargo] [numeric](18, 2) NULL,
	[IdMedioPago] [int] NULL,
	[IdArchivo] [int] NULL,
	[EsContrasiento] [smallint] NULL,
	[IdPagoAsiento] [int] NULL,
	[IdUsuario] [int] NULL,
	[FechaGrabacion] [datetime] NULL,
	[ImporteBeca] [numeric](18, 2) NULL,
	[PorcRecargo] [float] NULL,
	[FechaVto] [datetime] NULL,
	[Descripcion] [varchar](255) NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PlanesPago]    Script Date: 18/3/2019 18:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanesPago](
	[Id] [int] NOT NULL,
	[IdAlumno] [int] NOT NULL,
	[IdCurso] [int] NOT NULL,
	[NroCuota] [smallint] NOT NULL,
	[CantidadCuotas] [smallint] NOT NULL,
	[ImporteCuota] [numeric](18, 2) NOT NULL,
	[PorcentajeBeca] [smallint] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaGrabacion] [datetime] NOT NULL,
	[Estado] [smallint] NOT NULL,
	[IdUsuarioEstado] [int] NOT NULL,
 CONSTRAINT [PK_PlanesPago] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Apellido], [IdTipoDocumento], [NroDocumento], [FechaNacimiento], [EMail], [Direccion], [IdDomicilio], [Estado], [Sexo]) VALUES (10, N'Matias', N'Soplan', 1, CAST(10000002 AS Decimal(18, 0)), CAST(N'2019-02-02 11:19:24.000' AS DateTime), N'matiass@gmail.com', N'calle S/N', 5, 1, N'M')
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Apellido], [IdTipoDocumento], [NroDocumento], [FechaNacimiento], [EMail], [Direccion], [IdDomicilio], [Estado], [Sexo]) VALUES (11, N'Lucas', N'Pabon', 1, CAST(10000005 AS Decimal(18, 0)), CAST(N'2019-02-03 11:23:50.000' AS DateTime), N'lucasp@gmail.com', N'calle S/N', 5, 1, N'M')
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Apellido], [IdTipoDocumento], [NroDocumento], [FechaNacimiento], [EMail], [Direccion], [IdDomicilio], [Estado], [Sexo]) VALUES (12, N'Jorge', N'Tevez', 1, CAST(10000009 AS Decimal(18, 0)), CAST(N'1980-02-01 17:48:31.000' AS DateTime), N'jorget@gmail.com', N'', 5, 1, N'M')
INSERT [dbo].[Pagos] ([Id], [IdPlanPago], [Fecha], [NroCuota], [ImportePagado], [ImporteCuota], [PorcDescPagoTermino], [ImportePagoTermino], [PorcBeca], [IdBecaAlumno], [ImporteRecargo], [IdMedioPago], [IdArchivo], [EsContrasiento], [IdPagoAsiento], [IdUsuario], [FechaGrabacion], [ImporteBeca], [PorcRecargo], [FechaVto], [Descripcion]) VALUES (1, 4, NULL, 0, NULL, CAST(0.00 AS Numeric(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Pagos] ([Id], [IdPlanPago], [Fecha], [NroCuota], [ImportePagado], [ImporteCuota], [PorcDescPagoTermino], [ImportePagoTermino], [PorcBeca], [IdBecaAlumno], [ImporteRecargo], [IdMedioPago], [IdArchivo], [EsContrasiento], [IdPagoAsiento], [IdUsuario], [FechaGrabacion], [ImporteBeca], [PorcRecargo], [FechaVto], [Descripcion]) VALUES (2, 4, NULL, 1, NULL, CAST(1000.00 AS Numeric(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Pagos] ([Id], [IdPlanPago], [Fecha], [NroCuota], [ImportePagado], [ImporteCuota], [PorcDescPagoTermino], [ImportePagoTermino], [PorcBeca], [IdBecaAlumno], [ImporteRecargo], [IdMedioPago], [IdArchivo], [EsContrasiento], [IdPagoAsiento], [IdUsuario], [FechaGrabacion], [ImporteBeca], [PorcRecargo], [FechaVto], [Descripcion]) VALUES (3, 4, NULL, 2, NULL, CAST(1000.00 AS Numeric(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PlanesPago] ([Id], [IdAlumno], [IdCurso], [NroCuota], [CantidadCuotas], [ImporteCuota], [PorcentajeBeca], [IdUsuario], [FechaGrabacion], [Estado], [IdUsuarioEstado]) VALUES (4, 11, 6, 1, 10, CAST(1000.00 AS Numeric(18, 2)), 0, 1, CAST(N'2019-02-18 22:13:51.597' AS DateTime), 1, 1)
INSERT [dbo].[PlanesPago] ([Id], [IdAlumno], [IdCurso], [NroCuota], [CantidadCuotas], [ImporteCuota], [PorcentajeBeca], [IdUsuario], [FechaGrabacion], [Estado], [IdUsuarioEstado]) VALUES (5, 13, 7, 1, 10, CAST(1000.00 AS Numeric(18, 2)), 0, 1, CAST(N'2019-02-19 18:00:07.217' AS DateTime), 1, 1)
INSERT [dbo].[PlanesPago] ([Id], [IdAlumno], [IdCurso], [NroCuota], [CantidadCuotas], [ImporteCuota], [PorcentajeBeca], [IdUsuario], [FechaGrabacion], [Estado], [IdUsuarioEstado]) VALUES (6, 10, 7, 1, 10, CAST(1000.00 AS Numeric(18, 2)), 0, 1, CAST(N'2019-02-20 21:21:46.763' AS DateTime), 1, 1)
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_Domicilios] FOREIGN KEY([IdDomicilio])
REFERENCES [dbo].[Domicilios] ([Id])
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [FK_Alumnos_Domicilios]
GO
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_TiposDocumento] FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[TiposDocumento] ([Id])
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [FK_Alumnos_TiposDocumento]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_BecasAlumnos] FOREIGN KEY([IdBecaAlumno])
REFERENCES [dbo].[BecasAlumnos] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_BecasAlumnos]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_MediosPago] FOREIGN KEY([IdMedioPago])
REFERENCES [dbo].[MediosPago] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_MediosPago]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Pagos] FOREIGN KEY([IdPagoAsiento])
REFERENCES [dbo].[Pagos] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Pagos]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_PlanesPago] FOREIGN KEY([IdPlanPago])
REFERENCES [dbo].[PlanesPago] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_PlanesPago]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Usuarios]
GO
ALTER TABLE [dbo].[PlanesPago]  WITH CHECK ADD  CONSTRAINT [FK_PlanesPago_Alumnos] FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumnos] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PlanesPago] CHECK CONSTRAINT [FK_PlanesPago_Alumnos]
GO
ALTER TABLE [dbo].[PlanesPago]  WITH CHECK ADD  CONSTRAINT [FK_PlanesPago_Cursos] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Cursos] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PlanesPago] CHECK CONSTRAINT [FK_PlanesPago_Cursos]
GO
ALTER TABLE [dbo].[PlanesPago]  WITH CHECK ADD  CONSTRAINT [FK_PlanesPago_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PlanesPago] CHECK CONSTRAINT [FK_PlanesPago_Usuarios]
GO
ALTER TABLE [dbo].[PlanesPago]  WITH CHECK ADD  CONSTRAINT [FK_PlanesPago_Usuarios1] FOREIGN KEY([IdUsuarioEstado])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[PlanesPago] CHECK CONSTRAINT [FK_PlanesPago_Usuarios1]
GO
