@model Consultas.Models.ViewModels.DetallePago

<div class="border rounded p-3">
    <h2>Estado de Cuenta</h2>
    <hr />

    <div class="row">
        <div class="col-sm-12">
            <mark class="p-2"><strong>Curso: @Model.Curso</strong></mark>
        </div>
    </div>

    <div id="proxcuota" class="mt-4 col-7 border rounded p-3">
        @{ Html.RenderPartial("MostrarPróximaCuota", Model.PróximaCuota); }
    </div>

    <div id="pagos" class="mt-4">
        <h3>Sus pagos</h3>
        @{ Html.RenderPartial("ListarPagos", Model.Pagos); }
    </div>
</div>
