@model Consultas.Models.ViewModels.DetallePago

<div class="border rounded p-3">
    <h2>Estado de Cuenta</h2>
    <hr />

    <div class="row">
        <div class="col-sm-9">
            <strong>>> Curso: @Model.Curso</strong>
        </div>
        <div class="col-sm-3">
            @if (!Model.Pagos.Any(p => p.FechaVto < Consultas.Lib.Configuration.CurrentDate.Date && !p.Fecha.HasValue))
            {
                @Html.ActionLink("Imprimir Permiso de Exámen", "ImprimirPermisoExamen",
                        new { id = Model.Id, vto = Model.PróximaCuota.FechaVto.ToString("yyyy-MM-dd") },
                        new { @class = "btn btn-light small btn-sm border", role = "button", id = "lnkImprimir" })
            }
        </div>
    </div>
    @if (Model.PróximaCuota != null)
    {
        <div class="row">
            <div class="col-sm-6">
                <div id="proxcuota" class="card mt-4">
                    <div class="card-header">
                        <span class="font-weight-bold">Próxima Cuota</span>                
                    </div>
                    <div class="card-body">
                        @{ Html.RenderPartial("MostrarPróximaCuota", Model.PróximaCuota); }
                    </div>
                </div>
            </div>
        </div>
    }

    <div id="pagos" class="mt-4">
        <h3>Sus pagos</h3>
        @{ Html.RenderPartial("ListarPagos", Model.Pagos); }
    </div>

</div>
