@model IEnumerable<Consultas.Models.CursoAlumnoWeb>

@{
    ViewBag.Title = "Estado de cuenta";
}

<div class="row h-100 min-vh-100">

    <div class="col-2 pt-2 no-print" style="border-right: 1px solid brown;">
        @{ Html.RenderAction("MostrarCursosAlumno"); }
    </div>

    <div id="datos" class="col-10">
        <div class="text-center mt-5">
            <mark class="p-2">Seleccione un curso para ver su estado de cuenta.</mark>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/pdfobject.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.detail').click(function (e) {
                e.preventDefault();
                $('#datos').load($(this).attr('href'));
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });

            $('#modSelFechaCompromiso').modal();
            $('body').on('click', '#modSelFechaCompromiso #lnkImprimir', function (e) {
                e.preventDefault();
                var fc = $('#modSelFechaCompromiso #fechaCompromiso').val();
                var url = $('#modSelFechaCompromiso #lnkImprimir').attr('href');
                $("#reporte .modal-body").html('');
                PDFObject.embed(url + '?fechaCompromiso=' + fc, "#reporte .modal-body");
                $('#modSelFechaCompromiso').modal('hide');
                $('#reporte').on('shown.bs.modal', function (e) {
                    var h = $('#reporte').height() * 0.95;
                    $('#reporte .modal-dialog, #reporte .modal-content').height(h);
                });
                $('#reporte').modal();
            });
        });
    </script>
}
